// Primary Colors
$flirt: #B9006C;
$medium-violet-red: #CD0085;
$heliotrope-magenta: #B8039D;
$ryb-violet: #9000A2;
$indigo: #530769;
$licorice: #1E041C;

// Secondary Colors (Slightly Adjusted for Variety)
$deep-rose: #E10098;
$dark-purple: #6A0572;
$rich-black: #0D021F;
$vivid-violet: #8F00FF;
$white: #ffd6f2;
